.page-container .page-content-wrapper .footer {
    position: relative;
    background-color: #f5f6f7;
}

.footer-links{
    float:left;
    padding-left: 10px;
}

#footer-list{
    list-style: none
}

.copyright {
    padding: 13px 0px 5px 0px;
    border-color: #f5f6f7;
}