.button-pad-10{
  padding:1em;
}

.icon-red{
  color:#e74c3c;
}

.icon-green{
  color:#1abc9c;
}

.icon-blue{
  color:#2980b9;
}

.icon-orange{
  color:#e67e22;
}

.icon-yellow{
  color:#f1c40f;
}

.icon-purple{
  color:#8e44ad;
}

.icon-pink{
  color:pink;
}

.icon-silver{
  color: #95a5a6
}
